<div class="container-full">

  <div class="sign_up_words pull-left">
    <div class="slogan">專注 放鬆 效率加倍</div>
    <div class="words">任意窗帶你到世界工作</div>
  </div>
  <div class="sign_up_form pull-right">
    <h2>註冊任意窗</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field form-group">
        <%= f.text_field :username, autofocus: true, placeholder: "使用者名稱", class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.email_field :email, autofocus: true, placeholder: "電子信箱", class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: "密碼", class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "再輸入一次密碼", class:  "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "註冊", class: "btn btn-info"  %>
    <% end %>
        <div class="sign_up_divider_or clear-fix">
          <div class="sign_up_divider pull-left"></div>
          <div class="sign_up_divider pull-right"></div>
        </div>
        <div class="sign_up_or">或是</div>
        <%= link_to "Facebook 登入", user_omniauth_authorize_path(:facebook), class: "btn btn-primary" %>
        <div class="sign_up_login">已經有帳號了？點這裡<%= link_to "登入", new_session_path(:user),class: "login_link" %></div>
      </div>
  </div>
</div>