<div class="container-windows-full">
  <div class="container-search">
    <div class="search-info">
      <div class="search-word">
        <h2>發掘世界各個角落</h2>
      </div>
      <div class="search-bar">
        <div class="form-group">
          <%= form_tag search_windows_path, :method => :get do %>
            <%= text_field_tag "keyword",nil ,placeholder: "今天想看什麼樣的風景?" %>
            <%= submit_tag "Search", style: "display: none;" %>
          <% end %>
      </div>
    </div>
    <div class="container-windows">
      <% @cities.each do |city| %>
      <div class="search-window col-md-4">
        <div class="search-window-img">
          <%= link_to image_tag(asset_path(city.image.url)), city_detail_windows_path(id: city) %>
        </div>
        <div class="search-window-words">
          <div class="search-window-city">
            <%= city.name %>
          </div>
          <div class="search-window-country">
            <%= city.country.name %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<script>
</script>