<div class="container-show">
  <div class="show-center">
    <div class="show-init-words">
      <div class="show-init-welcome">
        <h2><%= "歡迎來到#{@window.name}" %></h2>
      </div>
      <div class="show-init-start">
        <p>開始工作</p>
      </div>
      <div class="show-init-word">
        <p>最佳的專注工作時間是25分鐘</p>
      </div>
    </div>

    <div class="show-work-starting">
      <div class="show-quote-content">
        <h2> <%= "『 #{@quote.content} 』" %> </h2>
      </div>
      <div class="show-quote-author">
        <p> <%= "#{@quote.author}" %> </p>
      </div>
    </div>

    <div class="show-rest-init-words">
      <div class="show-init-welcome">
        <h2>工作辛苦了，看個風景吧！</h2>
      </div>
      <div class="show-rest-init-start">
        <p>開始休息</p>
      </div>
      <div class="show-init-word">
        <p>休息很重要，5分鐘讓你更專注下一個任務。</p>
      </div>
    </div>

    <div class="show-rest-starting">
      <div class="show-quote-content">
        <h2> 從大三島到生口島的跨海大橋上 </h2>
      </div>
      <div class="show-quote-author">
        <p> 從日本四國到本州，只要一個小時車程，經過七個小島的路程。 </p>
      </div>
    </div>

    <div class="show-working-again">
      <div class="show-init-welcome">
        <h2>要開始工作嚕</h2>
      </div>
      <div class="show-init-start">
        <p>開始工作</p>
      </div>
      <div class="show-init-word">
        <p>新的地方，新的心情，把其他的事都忘記，專注工作吧！</p>
      </div>
    </div>
  </div>

  <div class="show-bottom-left">
    <div class="show-working">
      <div class="show-working-quote">
        <div class="show-working-title">
          <p> <%= "『 #{@quote.content} 』" %> </p>
        </div>
        <div class="show-working-content">
          <p> <%= "#{@quote.author}" %> </p>
        </div>
      </div>
    </div>

    <div class="show-location-words">
      <div class="show-rest-location">
        <div class="show-working-title">
          <p> <%= @window.name %> </p>
        </div>
        <div class="show-working-content">
          <p> <%= @window.city.name %> </p>
        </div>
      </div>
    </div>
  </div>

  <div class="show-bottom-right">
    <div class="show-start-work-time">
      <div class="show-work-time-word">
        <p>距離工作結束還有</p>
      </div>
    </div>
    <div class="show-rest-work-time">
      <div class="show-work-time-word">
        <p>距離休息結束還有</p>
      </div>
    </div>
    <div id="show-work-time-display"></div>
  </div>

  <div class="show-bottom-center">
    <div class="show-working-item pull-left">
      <div class="working-pause">
        <div class="show-working-item-img pull-left">
          <%= image_tag asset_path('Pause_White.svg') %>
        </div>
        <div class="show-working-item-word pull-right">
          <p>暫停工作</p>
        </div>
      </div>
      <div class="working-again">
        <div class="show-working-item-img pull-left">
          <%= image_tag asset_path('Play_White.svg') %>
        </div>
        <div class="show-working-item-word pull-right">
          <p>繼續工作</p>
        </div>
      </div>
      <div class="rest-pause">
        <div class="show-working-item pull-left">
          <div class="show-working-item-img pull-left">
            <%= image_tag asset_path('Pause_White.svg') %>
          </div>
          <div class="show-working-item-word pull-right">
            <p>暫停休息</p>
          </div>
        </div>
      </div>
      <div class="rest-again">
        <div class="show-working-item pull-left">
          <div class="show-working-item-img pull-left">
            <%= image_tag asset_path('Play_White.svg') %>
          </div>
          <div class="show-working-item-word pull-right">
            <p>繼續休息</p>
          </div>
        </div>
      </div>
    </div>
    <div class="show-working-item pull-right">
      <div class="audio-pause">
        <div class="show-working-item-img pull-left">
          <%= image_tag asset_path('Mute_White.svg') %>
        </div>
        <div class="show-working-item-word pull-right">
          <p>關閉聲音</p>
        </div>
      </div>
      <div class="audio-again">
        <div class="show-working-item pull-right">
          <div class="show-working-item-img pull-left">
            <%= image_tag asset_path('Unmute_White.svg') %>
          </div>
          <div class="show-working-item-word pull-right">
            <p>打開聲音</p>
          </div>
        </div>
      </div>
    </div>

    <div class="show-init-words">
      <div class="show-init-link">
        <p>今天心情不適合這個風景？<%=link_to "重新選擇工作地點", root_path %></p>
      </div>
    </div>

    <div class="show-rest-init-words">
      <div class="show-init-link">
        <p>不休息了，我要直接下班了！<%=link_to "結束今天的工作", root_path %></p>
      </div>
    </div>

    <div class="show-working-again">
      <div class="show-init-link">
        <p>
          <%= link_to "重新選擇工作地點", root_path %>
          <%= link_to "結束今天的工作", root_path %>
        </p>
      </div>
    </div>
  </div>

</div>
<!-- show image -->
<div class="show-image">
<%if @window.images.exists? %>
  <%= image_tag asset_path(@window.images.first.image.url) %>
<% end %>
</div>
<!-- audio play -->
<div class="show-music">
<%if @window.audios.exists? %>
  <%= audio_tag asset_path(@window.audios.first.audio.url), id: "audio" %>
<% end %>
</div>
<!-- video play -->
<div class="show-video">
<%if @window.videos.exists? %>
  <%= video_tag asset_path(@window.videos.first.video.url) ,id: "video", width: "108%", height: "108%" %>
<% end %>
</div>
<script>
  //倒數總時間(分鐘)
  var work_countdown_time = 20
  var rest_countdown_time = 10
  //收格言或介紹的時間（毫秒）
  var intro_time = 5*1000
  //剩餘時間(毫秒)
  var work_remain_time = work_countdown_time*1000 - intro_time
  var rest_remain_time = rest_countdown_time*1000 - intro_time
  //設定倒數變色(分鐘=>00為1分鐘依此類推)
  var change_color = "05"
  //開始時間
  var work_start_time
  var rest_start_time
  //剩餘時間
  var remain_min
  var remain_sec

  $('.show-init-start').click(function(e){
    $('#audio')[0].play();
    work_start_time = new Date()
    AnyWindowCountdown(work_start_time, work_countdown_time);
    $('.show-init-words').hide();
    $('.navbar').hide();
    $('.show-working-again').hide();
    $('.show-work-starting').show();
    $('.show-start-work-time').show();
    $('.show-rest-work-time').hide();
    $('#show-work-time-display').css('color','white')
    setTimeout("WindowStartSession()", intro_time);
  });

  function WindowStartSession() {
    $('.show-work-starting').hide();
    $('.show-working').show();
    $('.working-pause').show();
    $('.audio-pause').show();
    setTimeout("WindowRestInit()", work_remain_time);
  }

  function WindowRestInit() {
    $('#audio')[0].pause();
    $('.show-image').hide();
    $('.working-pause').hide();
    $('.working-again').hide();
    $('.audio-pause').hide();
    $('.audio-again').hide();
    $('.show-start-work-time').hide();
    $('.show-working').hide();
    $('#show-work-time-display').hide();
    $('.show-video').show();
    $('.show-rest-init-words').show();
    notifyMe();
  }

  $('.show-rest-init-start').click(function(e){
    $('#video')[0].play();
    rest_start_time = new Date()
    AnyWindowCountdown(rest_start_time, rest_countdown_time);
    $('.show-rest-init-words').hide();
    $('.show-rest-work-time').show();
    $('#show-work-time-display').css('color','white')
    $('.show-rest-starting').show();
    setTimeout("WindowRestSession()",intro_time);
  });

  function WindowRestSession() {
    $('.show-rest-starting').hide();
    $('.show-location-words').show();
    $('.rest-pause').show();
    $('.audio-pause').show();
    setTimeout("WindowRestEnd()",rest_remain_time);
  }

  function WindowRestEnd() {
    $('.show-location-words').hide();
    $('.rest-pause').hide();
    $('.rest-again').hide();
    $('.audio-pause').hide();
    $('.audio-again').hide();
    $('#video')[0].pause();
    $('.show-working-again').show();
  }

  $('.audio-pause').click(function(e){
    $('.audio-pause').hide();
    $('.audio-again').show();
    $('#audio')[0].muted = true;
    $('#video')[0].muted = true;
  });

  $('.audio-again').click(function(e){
    $('.audio-again').hide();
    $('.audio-pause').show();
    $('#audio')[0].muted = false;
    $('#video')[0].muted = false;
  });

  $('.working-pause').click(function(e){
    $('.working-pause').hide();
    $('.working-again').show();
    $('#audio')[0].pause();
  });

  $('.working-again').click(function(e){
    $('.working-again').hide();
    $('.working-pause').show();
    $('#audio')[0].play();
  });

  $('.rest-pause').click(function(e){
    $('.rest-pause').hide();
    $('.rest-again').show();
    $('#video')[0].pause();
  });

  $('.rest-again').click(function(e){
    $('.rest-again').hide();
    $('.rest-pause').show();
    $('#video')[0].play();
  });

  function AnyWindowCountdown(start_time, countdown_time) {
    var time = start_time
    var interval = time.getSeconds()+countdown_time;
    time.setSeconds(interval);

    $('#show-work-time-display').countdown(time, function(event) {
      $(this).html(event.strftime('%M:%S'));
      if(event.strftime('%S') == change_color)
      {
        $('#show-work-time-display').css('color','red')
      }
    });
  };

  function notifyMe() {
    if (!("Notification" in window)) {
      alert("This browser does not support desktop notification");
    }
    else if (Notification.permission === "granted") {
      var notification = new Notification("該休息嚕~~~");
    }
    else if (Notification.permission !== 'denied') {
      Notification.requestPermission(function (permission) {
        if (permission === "granted") {
          var notification = new Notification("該休息嚕~~~");
        }
      });
    }
  }
</script>