  <div class="form-group">
    <%= w.label :name, "Window" %>
    <%= w.text_field :name %>

    <%= w.label :location, "location(十進制)" %>
    <%= w.text_field :location %>
  </div>

  <div class="form-group">
    <%= w.label :images, "Upload images"  %>
    <%= file_field_tag "images[]", type: :file, multiple: true %>
    <% if @window.images.exists? %>
      <%= check_box_tag "remove_images", "1" %> Remove All Images
      <% @window.images.each do |image| %>
        <%= image_tag (image.image.url(:medium))%>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <%= w.label :audios, "Upload audios"  %>
    <%= file_field_tag "audios[]", type: :file, multiple: true %>
    <% if @window.audios.exists? %>
      <%= check_box_tag "remove_audios", "1" %> Remove All Videos
      <% @window.audios.each do |audio| %>
        <%= audio_tag (audio.audio.url)%>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <%= w.label :videos, "Upload video url"  %>
    <%= text_field_tag "videos[]" %>
  </div>