<h1>編輯地方</h1>
<hr>
<%= form_for [:admin, @window] do |w| %>
	<div class="form-group">
		<%= w.label :name, "Window" %>
		<%= w.text_field :name %>
		<br>
		<%= fields_for @city do |city|%>
		<%= city.label :name, "City" %>
		<%= city.text_field :name %>
		<br>
		<%= fields_for @country do |country| %>
		<%= country.label :name, "Country" %>
		<%= country.text_field :name %>
	</div>

	<div class="form-actions">
	  <%= w.submit "Update", :class => "btn btn-primary" %>
	</div>
		<% end %>
		<% end %>
		<% end %>