<h1>編輯城市</h1>
<hr>
<%= form_for [:admin, @city],html: { multipart: true } do |city| %>

  <div class="form-group">
      <%= city.label :name, "City" %>
      <%= city.text_field :name %>
      <%#= city.select :name, City.all.map{ |c| [c.name, c.name] }, :class => "form-control" %>
      <%= city.label :location, "location(十進制)" %>
      <%= city.text_field :location %>
      <%= city.label :en_name, "En_name" %>
      <%= city.text_field :en_name %>
      <br><br>
      <%= city.label :description, "Description" %>
      <%= city.text_area :description %>
  </div>

	<div class="form-group">
    <h4>Upload city_images(Limit 664x436)</h4>
    <%= file_field_tag "city_images", type: :file%>
    <% if @city.image.exists? %>
      <%= check_box_tag "remove_city_images", "1" %> Remove Image
        <%= image_tag (@city.image.url)%>
    <% end %>
  </div>

  <div class="form-group">
    <h4>Upload city_image_square</h4>
    <%= file_field_tag "city_image_square", type: :file%>
    <% if @city.image_square.exists? %>
      <%= check_box_tag "remove_city_image_square", "1" %> Remove Image
        <%= image_tag (@city.image_square.url)%>
    <% end %>
  </div>

	<div class="form-actions btn-group">
    <%= city.submit "Update", :class => "btn btn-primary" %>
    <%= link_to "Cancel", admin_windows_path, :class => "btn btn-danger" %>
  </div>

<% end %>

<script>
  $('#city_name').select2();
</script>