<!DOCTYPE html>
<html>
  <head>
    <title>Anywindow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%if user_signed_in?%>
      <!-- navbar -->
      <nav class="navbar navbar-default">
        <div class="bars col-md-4">
          <span class="navbar-icon pull-left">
            <%= image_tag asset_path("Menu_White.svg") %>
          </span>
        </div>
        <div id="logo" class="col-md-4">
          <%= image_tag asset_path("Combined_Shape.png") %>
        </div>
        <div class="avatar-img col-md-4">
          <%= image_tag current_user.show_avatar%>
        </div>
      </nav>
      <% if current_user.is_admin?%>
        <%= link_to "後台登入", admin_windows_path, class: "btn btn-warning pull-right" %>
      <% end %>
      <!-- sidebar  -->
      <div class="sidebar">
        <div class="sidebar-items">
          <div class="sidebar-item">
            <a href="#">
              <span class="sidebar-icon pull-left">
                <%= image_tag asset_path("Random_White.svg") %>
              </span>
              <%= link_to content_tag(:p,"隨機帶我去工作地點"), root_path%>
            </a>
          </div>
          <div class="sidebar-item">
            <a href="#">
              <span class="sidebar-icon pull-left">
                <%= image_tag asset_path("Map_White.svg") %>
              </span>
              <%= link_to content_tag(:p,"地圖找工作地點"), map_windows_path %>
            </a>
          </div>
          <div class="sidebar-item">
            <a href="#">
              <span class="sidebar-icon pull-left">
                <%= image_tag asset_path("Search_White.svg") %>
              </span>
              <%= link_to content_tag(:p,"搜尋工作地點"), search_windows_path %>
            </a>
          </div>
          <div class="sidebar_divider"></div>
          <div class="sidebar-item">
            <a href="#">
              <span class="sidebar-icon pull-left">
                <%= image_tag asset_path("Data_White.svg") %>
              </span>
              <%= link_to content_tag(:p,"工作數據") %>
            </a>
          </div>
          <div class="sidebar-item">
            <a href="#">
              <span class="sidebar-icon pull-left">
                <%= image_tag asset_path("Setting_White.svg") %>
              </span>
              <%= link_to content_tag(:p,"設定") %>
            </a>
          </div>
        </div>
        <div class="sidebar-info">
          <div class="sidebar_divider"></div>
          <div class="user-info col-md-6">
            <div class="sidebar-logout">
              <%= link_to "登出", destroy_user_session_path, method: :delete %>
            </div>
            <div class="sidebar-username">
              <p> <%= current_user.username %> </p>
            </div>
          </div>
          <div class="avatar-img col-md-6">
            <%= image_tag current_user.show_avatar%>
          </div>
        </div>
      </div>
      <div class="siderbar-background"></div>
    <% end %>
    <!-- 顯示 各個views -->
    <%= yield %>
  </body>
</html>

<script>
  $(document).ready(function(e){
    $('.sidebar').hide();
    $('.siderbar-background').hide();
    $('.navbar-icon').click(function(e){
      $('.sidebar').toggle();
      $('.siderbar-background').toggle();
    });
  });
</script>