<!DOCTYPE html>
<html>
  <head>
    <title>Anywindow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# 顯示flash msg %>
    <% if flash[:notice].present? && %>
      <div class="alert alert-success" role="alert" ><%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert].present? %>
      <div class="alert alert-danger" role="alert" ><%= flash[:alert] %>   </div>
      <% end %>
    <%# user login  %>
    <% if user_signed_in? %>
      <div class="btn-group">
      <%= link_to "登出", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
      <%= link_to "修改密碼", edit_registration_path(:user), class: "btn btn-info" %>
      </div>
    <% else %>
      <div class="btn-group">
      <%= link_to "註冊", new_registration_path(:user), class: "btn btn-danger" %>
      <%= link_to "登入", new_session_path(:user), class: "btn btn-warning" %>
      <%= link_to "登入 Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-primary" %>
      </div>
    <% end %>

    <%# 顯示 各個views%>
    <%= yield %>
  </body>
</html>
